/*GENERAL*/

*{
    padding: 0;
    margin:0;
    cursor:crosshair;
}
.mobileproject a {
    text-decoration-color: #FFE97C;
    text-decoration-style:wavy;
}

body{
    background-color: #FFE97C;
}
.narration a {
    text-decoration-color: #FFE97C;
    color:#FFE97c;
    text-decoration-style: wavy;
}


/*END OF GENERAL*/

/*MOBILE  OPTIMIZED FOR 414*736 (IPHONE 6 PLUS) */

/*MOBILE NAVIGATION*/

ul{
    list-style-type: none;
}

ul a{
    text-decoration: none;
    font-family:archivo black;
    font-size:1.75em;
    text-transform: uppercase;

}
/*li a:visited{
    color:#232323;
}*/
nav{
 max-height: 0;
 overflow: hidden;
 text-align: center;
 position:fixed;
 width: 100vw;
 background-color: #FFE97C;
 z-index: 3;
}

.oddline a{
    color:#FFE97C;
}

.evenline a{
    color:#2F66FF;

}

/*MOBILE MENU BACKGROUND*/

li:nth-child(odd){
    background-color:#2F66FF;
    }


/*BURGER MENU*/

input {
 display: none;
}
input:checked ~ nav{
 max-height: 500px;
}


label {
    margin: -2em 0em 2em 0.3em;
    font-size: 2em;
    z-index:4;
    display: inline-block;
    text-align: left;
    position:fixed;
}

/*MAIN PAGE*/

h1{
    font-family: archivo black;
    margin:1.5em 2em 0.5em 1em;
    font-size:3.5em;
    position:relative;
    z-index: 2;
    color:#2F66FF;

}

h2{
    font-family: archivo black;
    margin:0.5em 2em 4em 2.5em;
    font-size:1.5em;
    position:relative;
    z-index: 2;
    color:#232323;
}
.narration h2{
    padding:12em 2em;
    text-align: center;
    background-color:#2f66ff;
    color:#FFE97C;

}

p{
    font-family:lato;
    font-size:1em;
    color:#232323;
    margin:4em;
}
.mainpicture{
    margin: 10%;
    width: 80%;
    bottom:0;
    z-index: 1;

}

/*END OF MAIN PAGE*/

/*BASIC WEB*/


/*PROJECT SECTIONS*/
.mobileproject{
    margin: 1em auto
}

.icon{
   margin: 4em auto;
    display: block;
}

.projecttitle{
    padding:4em 3em;
    text-align: center;
    background-color:#2f66ff;
    color:#FFE97C;
}

/*END OF MOBILE*/

/*DESKTOP OPTIMIZED FOR1920*1080*/

@media screen and (min-width:640px) {
    body{
        position: relative;
        z-index: 0;
    }

    .narration{
        height:100vh;
    }
    /*NAVIAGTION*/
    li:nth-child(odd){
    background-color:gray;
    }
    label{
        display:none;
    }
    nav{
        padding: 0vw 9vw 2vw 9vw;
        z-index: 15;
        display:inline-block;
        top:0;
        width:80%;
    }
    nav a{
        padding:1em;
        margin: 4em 4em;
        font-size:1vw;
        position:relative;
        z-index: 10;
    }

    nav ul{
        text-align: center;
        font-size:0.5em;
        color:red;
        background:gray;
        position:relative;
        z-index:25;
        padding:1em;
        margin:-.5em;
        letter-spacing: 5px;
    }
    nav li{
        display: inline-block;
    }


    /*END OF NAVIGATION*/

    /*TEXT*/

    h1{
        font-size: 4em;
        margin-left:6vw;
        margin-bottom:5vw;    }

    h2{
        margin-left: 5vw;
        font-size: 1.5em;
    }
    h2 a{
        text-decoration-style: wavy;
    }
    .mainsubtitle{
        width: 30%;
        float:left;
        position: relative;
        margin-left:6em;
        margin-bottom: 0.5em;
    }

    .subtitle{
        font-size: 1.5em;
        width:50vw;
    }

    .projecttitle{
        font-size: 1.5em;
        padding:4em;
        display:inline-block
        width:auto;
    }
    /*END OF TEXT*/
   /*GRID*/











}
/*END OF DESKTOP*/

/*TRYING THINGS*/

